
img{
    width: 176px;
    padding :40px;
    border-radius: 50%;
    transition: transform 2s;
}

body{
    background:tan;
}

.container{
    display: block;
    text-align: center;
    border: 3px solid hsla(0, 0%, 100%, 0);
    border-radius: 30px;
    background: hsl(0, 0%, 12%);
    width: 500px;
    height: 980px;
    margin-top: 100px;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 200px;
    box-shadow: 0 20px 28px 6px rgba(0, 0, 0, 0.658);
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;



}

ul{
    list-style-type: none;
    padding-right: 40px;
}

li{
    background: hsl(0, 0%, 20%);
    border-radius: 15px;
    padding:23px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

h1,p,li{
    font-family: 'inter';
    color: white;
}
p{
    margin-bottom: 35px;
    font-size: 20px;
}

h2{
    font-family: 'inter';
    color: hsl(75, 94%, 57%);
    margin-bottom: 45px;
}

/*social hover*/
.discord:hover{
    transition:all 0.3s ease-in;
    transform: scale(1.1);
    background:hsl(235 86% 65%);
    box-shadow: -3px 5px 20px 0.5px hsla(235, 87%, 65%, 0.365);
}

.linkedin:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    background:hsl(201, 100%, 35%);
    box-shadow: -3px 5px 20px 0.5px hsla(201, 100%, 35%, 0.439);

}

.facebook:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    background:hsl(214, 89%, 52%);
    box-shadow: -3px 5px 20px 0.5px hsla(214, 89%, 52%, 0.442);

}

.github:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    background:rgb(43,49,55);
    box-shadow: -3px 5px 20px 0.5px rgba(43, 49, 55, 0.463);

}

.stack:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1); 
    background:rgba(255, 115, 0, 0.959);
    box-shadow: -3px 5px 20px 0.5px hsla(20, 100%, 50%, 0.344);

}


/*=================*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: hsl(0, 0%, 12%);
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  /* Style the back side */
  .flip-card-back {
    border-radius: 30px;
    background-color: hsl(0, 0%, 12%);;
    color: hsl(0, 0%, 12%);
    transform: rotateY(180deg);
  }


  /********/
 
.container:hover  {
    transition: all 0.6s ease-in-out;
    transform:perspective(3500px) rotateY(10deg) scaleX(1.15) scaleY(1.1) ;
    box-shadow: -15px 10px 30px 0 hsla(0, 0%, 0%, 0.284);
}

/*=====================================================*/

i {
  font-size: 30px;
  transition: color 0.3s ease;
  transition: margin-left 0.3s ease;
  color: rgba(210, 180, 140, 0);
}

li:hover i {
  margin-left: 20px;
  color: white;
}

span {
  transition: margin-left 0.3s ease;
}

li:hover span {
  margin-left: -10px;
}











  
  

  
 */

