@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --color-primary-Cyan: hsl(171, 66%, 44%);
    --color-primry-blue: hsl(233, 100%, 69%);
    --color-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-neutral-grayish-blue: hsl(201, 11%, 66%);
    --font-family: 'Bai Jamjuree', sans-serif;
    --font-size: 18px;
    --font-weight-reg: 400;
    --font-weight-semi: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------FIRST SECTION---------------------- */
.header{
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center; /* Center items horizontally */
}
.header img{
    width: 170px;
    height: 170px;
    margin-top: 180px;
}
.header-txt{
    margin-top: -100px;
    font-family: var(--font-family);
    text-align: center;
}
.header-txt h1 {
    font-size: 52px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.header-txt p {
    max-width: 800px;
    font-size: 23px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
    margin: 0 auto;
    margin-bottom: 20px;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.download >a{
    text-decoration: none;
    font-size: 20px; 
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-semi);
}
.ios{
    background-color: var(--color-primary-Cyan);
    box-shadow: 0px 4px hsl(171, 66%, 40%) ;
}
.mac{
    background-color: var(--color-primry-blue);
    box-shadow: 0px 4px hsl(233, 64%, 59%) ;
}
.ios:is(:hover, :focus){
    box-shadow: 0px 4px hsl(171, 66%, 40%) , 0px 10px 10px -5px hsl(171, 66%, 40%);
}
.mac:is(:hover, :focus){
    box-shadow: 0px 4px hsl(233, 64%, 59%) , 0px 10px 10px -5px hsl(233, 64%, 59%);
}
/* ----------------------SECOND SECTION---------------------- */
.second-sec{
    font-family: var(--font-family);
    text-align: center;
    margin-top: 200px;
}
.second-sec h2{
    font-size: 50px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.second-sec p{
    max-width: 800px;
    font-size: 23px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
    margin-bottom: 20px;
    margin: 0 auto;
}
.desktop{
    display: flex;
    justify-content: left;
    align-items: end;
    margin-top: 100px;
    gap: 150px;
    margin-left: -35px;
}
.desktop>img{
    width: 1000px;
}
.characteristics{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom:70px ;
}
.characteristics p{
    font-size: var(--font-size);
    max-width: 450px;
    margin-bottom: 70px;
    line-height: 1.9;
}
.characteristics h3{
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
}
/* ----------------------THIRD SECTION---------------------- */
.third-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.third-sec img{
    width: 1100px;
}
.third-txt{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 150px;
    font-family: var(--font-family);
}
.third-txt h2{
    font-size: 50px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.third-txt p{
    max-width: 900px;
    font-size: 23px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
}
/* ----------------------FOURTH SECTION---------------------- */
.fourth-sec{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;    
    font-family: var(--font-family);
}
.fourth-sec h2{
    font-size: 50px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.fourth-sec p{
    max-width: 800px;
    font-size: 23px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
    margin-bottom: 100px;
}
.fourth-txt{
    display: flex;
    gap: 160px;
    margin-bottom: 200px;
    text-align: center;
}
.fourth-txt h3{
    font-size: 30px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.fourth-txt p{
    width: 350px;
    font-size: 20px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
}
.fourth-txt img{
    width: 50px;
    margin-bottom: 50px;
}
.fourth-txt-3{
    margin-top: 10px;
}
.fourth-txt-1{
    margin-top: -4px;
}
/* ----------------------   FIFTH SECTION---------------------- */
.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.companies>img{
    width: 200px;
}
/* ----------------------   SIXTH SECTION---------------------- */
.sixth-sec{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: var(--font-family);
}
.sixth-sec h2 {
    font-size: 52px;
    font-weight: var(--font-weight-semi);
    letter-spacing: -0.02em;
    color: var(--color-neutral-dark-grayish-blue);
    margin-bottom: 20px;
}
.sixth-sec p {
    max-width: 800px;
    font-size: 23px;
    font-weight: var(--font-weight-reg);
    line-height: 1.5;
    color: var(--color-neutral-grayish-blue);
    margin: 0 auto;
    margin-bottom: 20px;
}
/* ----------------------   FOOTER SECTION---------------------- */
.footer{
    background-color: hsl(220, 18%, 97%);
    height: 150px;
}
.footer-txt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-neutral-dark-grayish-blue);
    font-family: var(--font-family);
}
.logo-footer{
    width: 70px;
    margin-top: 40px;
}
.footer-actions{
    margin-top: 35px;
    font-size: var(--font-size);
    display: flex;
    gap: 100px;
}
.footer-actions >div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials{
    margin-top: 35px;
    display: flex;
    gap: 20px;
    padding-left: 200px;
}
/* ======================RESPONSIVE====================== */
@media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .header img {
      width: 150px;
      height: 150px;
    }
    .header-txt h1 {
      font-size: 40px;
    }
    .first-sec {
      flex-direction: column;
      align-items: center;
    }
    .second-sec {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .container h2 {
      font-size: 35px;
    }
    .container p {
      font-size: 19px;
      min-width: 300px;
    }
    .download {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .download a {
      width: 300px;
      border-radius: 50px;
      text-align: center;
    }
    .desktop {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 0px;
      align-items: center;
    }
    .desktop img {
      width: 330px;
    }
    .characteristics {
      align-items: center;
      text-align: center;
    }
    .third-sec img {
      width: 380px;
    }
    .third-txt p {
      padding-left: 30px;
    }
    .fourth-txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .companies {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
    .footer {
      height: 500px;
    }
    .footer-txt {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-actions {
      flex-direction: column;
      gap: 30px;
    }
    .socials {
      margin-top: 80px;
      padding-left: 0;
    }
}
.footer-actions>div>p:hover , .socials >img:hover{
    cursor: pointer;
    color: var(--color-primary-Cyan);
}
