img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 35px;
    
}

body{
    background:   hsl(212, 45%, 89%);
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    width: 550px;
    height: 760px;

    background-color: #ffffffac;
    border-radius: 35px;

    padding-top: 25px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;

}

.git{
    display:flex;
    width: 100px;
    margin-top: 200px;

}

/*===================*/

div:hover {
  transition: transform 0.4s;
  transform: scale(1.1);
}
