:root {
    --color-primary: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --color-neutral-PaleBlue: hsl(243, 100%, 93%);
    --color-neutral-GrayishBlue: hsl(229, 7%, 55%);
    --color-neutral-DarkBlue: hsl(228, 56%, 26%);
    --color-neutral-VeryDarkBlue: hsl(229, 57%, 11%);
    --font-family: 'Raleway', sans-serif;
    --font-size: 14px;
    --font-weights-semi: 400;
    --font-weights-bold: 700;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--color-neutral-VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/bg-desktop.png), var(--color-neutral-VeryDarkBlue);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.container {
    display: flex;
    align-items: end;
    gap: 40px;
}
#logo {
    width: 80%;
}
.fylo {
    background-color: var(--color-neutral-DarkBlue);
    border-radius: 15px 150px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 150px 60px 60px;
    box-shadow: 34px 42px 100px hsla(229, 57%, 11%, 0.89);
    animation: fylo-ani 2s ease-in-out;
}
@keyframes fylo-ani {
    0% {
        opacity: 0;
        transform: translateY(-130px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#second {
    animation: sec-ani 2s ease-in-out;
}
@keyframes sec-ani {
    0% {
        opacity: 0;
        transform: translateY(130px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.icons {
    display: flex;
    gap: 30px;
    align-items: center;
}
.icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 70px;
    height: 70px;
    background-color: var(--color-neutral-VeryDarkBlue);
    border-radius: 15px;
    transition: all 0.3s ease-in;
}
.icons > div > img {
    height: 26px;
}
.icons > div:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(0.95);
    cursor: pointer;
    box-shadow:inset 0px 0px 20px  black ;
}
.range-slider {
    background-color: var(--color-neutral-DarkBlue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#slider {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 600px;
    height: 22px;
    border-radius: 10px;
    background-color: var(--color-neutral-VeryDarkBlue);
    position: relative;
    padding-left: 4px;
}
#bar {
    max-width: 400px;
    height: 14px;
    background: var(--color-primary);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    animation: slideBall 3s ease-out forwards;
}

@keyframes slideBall {
    0% {
        width: 0px;
    }
    100% {
        width: 400px;
    }
}
#ball {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    right: 0;
}
.line {
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 30px 60px 30px;
    color: aliceblue;
    font-size: 19px;
    box-shadow: 34px 42px 100px hsla(229, 57%, 11%, 0.89);
}
#line-info {
    font-weight: var(--font-weights-bold);
    display: flex;
    gap: 500px;
}
#number {
    font-size: 50px;
    font-weight: 900;
    font-family: var(--font-family);
}
#storage-left {
    position: relative;
    font-weight: var(--font-weights-bold);
    padding: 10px 20px 10px 20px;
    background-color: white;
    max-width: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: -30px;
    margin-left: 430px;
}
#storage-left,
#tri {
    animation: storage-ani 1s ease-in-out infinite alternate;
}
@keyframes storage-ani {
    0% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}
#tri {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    margin-left: 560px;
    margin-top: -135px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
sup {
    font-size: 1.2em;
    color: var(--color-neutral-GrayishBlue);
}
#number{
  font-size: 50px;
  font-weight: 900;
  color: #333;
  
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.385);
  
}


}
@media screen and (max-width: 768px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .fylo {
        border-radius: 15px 150px 15px 15px;
        padding: 30px;
    }
    #tri {
        display: none;
    }
    #line-info {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    #storage-left {
        margin-left: 0;
        margin-top: 20px;
    }
    #line-info {
        display: flex;
        flex-direction: row;
        gap: 170px;
    }
    #bar {
        max-width: 400px;
        height: 14px;
    }
    .line {
        width: 330px;
        text-align: center;
    }
    @keyframes slideBall {
        0% {
            width: 0px;
        }
        100% {
            width: 200px;
        }
    }
    #second {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #storage-left {
        margin-top: -40px;
        padding: 10px 25px 10px 25px;
    }
}
