h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
body {
    background: #ffebcd;
}

/*center image*/
img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transition: transform 0.3s ease;
}

.linux{
    min-width: 400px;

}
ul {
    padding-right: 40px;
}

ul > li{
    display: block;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-align: center;

    border: 7px solid rgb(65, 64, 64);
    border-radius: 15px;
    padding: 20px;

    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;

    max-width: 700px;
    min-width: 70px;
    
    transition: all 0.4s ease-in-out;

}


.git{
    display:flex;
    width: 100px;
    margin-top: 200px;

}


/*=====================================*/



ul > li:hover {
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    transform: scale(1.1);
    background-color: #f0f8ff;
    color: orange; 
}

img:hover {
  transform: scale(1.1);
}

/*==================*/
